.todo-button-shared-style{

 margin: 10px;
padding: 5px;
color: white;
border-radius:  5px;
cursor:pointer;
font-family: Verdana, Geneva, Tahoma, sans-serif
}

.edit-button{
   
    background-color: #ffac81;
    background-image: linear-gradient(315deg, #ffac81 0%, #ff928b 74%);
    
 

}

.delete-button{ 
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
    
    

}
.disabled{
    pointer-events: none;
    background-color: grey;
}
li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
